In [389]:
import numpy as np
from numpy import sort
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
import pprint
from sklearn.preprocessing import StandardScaler, MinMaxScaler, Normalizer, RobustScaler
%matplotlib inline

from sklearn.metrics import f1_score, recall_score, accuracy_score, precision_score, confusion_matrix
from sklearn.metrics import r2_score, roc_auc_score, roc_curve, classification_report
from sklearn.feature_selection import SelectFromModel
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import cross_validate
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import KFold

In [410]:
FULL_DATASET = 'FULL TRAINING SET updated.csv'

### Feature Selection

In [416]:
df = pd.read_csv(FULL_DATASET)
df = df.drop(['Team1', 'Team2', 'GAMES', 'Seed1', 'Seed2', 'Round'], axis=1)
#df['Seed_Diff'] = df['Seed_Diff'].astype('category')
#df['Round'] = df['Round'].astype('category')

df.head()

,Result,Seed_Diff,K TEMPO,K TEMPO RANK,KADJ T,KADJ T RANK,K OFF,KO RANK,KADJ O,KADJ O RANK,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,1,-15,7.6847,-120,6.6882,-134,14.453,-183,21.6693,-235,...,-150,-195,-91,-49,-197,-139,-181,-180,-35,-268
1,1,-13,11.7930,-309,9.9867,-301,6.174,-64,9.4790,-82,...,-300,-167,-106,113,-121,255,-242,-76,-66,-225
2,1,-11,-5.4011,151,-5.5255,142,-3.461,45,3.2230,-38,...,141,-67,-116,181,-267,31,-154,32,-177,-206
3,1,-9,-4.4331,44,-3.1859,38,10.226,-148,16.5788,-215,...,33,-200,-172,-78,-143,-282,119,-149,26,-149
4,1,-7,8.4834,-260,7.9935,-263,2.870,-22,4.8490,-36,...,-250,-148,-235,80,-127,-83,-286,-28,13,-164

In [417]:
X = df.drop('Result', axis=1)
y = df['Result']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [418]:
# Standardize features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [419]:
model = xgb.XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [420]:
# Fit model using each importance as a threshold
thresholds = sort(model.feature_importances_)
for thresh in thresholds:
    # select features using threshold
     selection = SelectFromModel(model, threshold=thresh, prefit=True)
     select_X_train = selection.transform(X_train)
     # train model
     selection_model = xgb.XGBClassifier()
     selection_model.fit(select_X_train, y_train)
     # eval model
     select_X_test = selection.transform(X_test)
     y_pred = selection_model.predict(select_X_test)
     accuracy = accuracy_score(y_test, y_pred)
     print("Thresh=%.6f, n=%d, Accuracy: %.2f%%" % (thresh, select_X_train.shape[1], accuracy*100.0))

Thresh=0.000000, n=93, Accuracy: 62.96%
Thresh=0.000000, n=93, Accuracy: 62.96%
Thresh=0.000000, n=93, Accuracy: 62.96%
Thresh=0.000000, n=93, Accuracy: 62.96%
Thresh=0.000000, n=93, Accuracy: 62.96%
Thresh=0.000000, n=93, Accuracy: 62.96%
Thresh=0.001182, n=87, Accuracy: 62.96%
Thresh=0.001324, n=86, Accuracy: 63.49%
Thresh=0.001838, n=85, Accuracy: 61.90%
Thresh=0.002432, n=84, Accuracy: 66.14%
Thresh=0.002566, n=83, Accuracy: 64.55%
Thresh=0.002752, n=82, Accuracy: 64.55%
Thresh=0.003035, n=81, Accuracy: 64.55%
Thresh=0.003419, n=80, Accuracy: 65.08%
Thresh=0.003740, n=79, Accuracy: 62.43%
Thresh=0.003922, n=78, Accuracy: 64.55%
Thresh=0.004033, n=77, Accuracy: 61.90%
Thresh=0.004253, n=76, Accuracy: 61.90%
Thresh=0.004413, n=75, Accuracy: 61.90%
Thresh=0.004719, n=74, Accuracy: 60.85%
Thresh=0.004956, n=73, Accuracy: 62.96%
Thresh=0.005059, n=72, Accuracy: 59.26%
Thresh=0.005334, n=71, Accuracy: 61.90%
Thresh=0.005797, n=70, Accuracy: 62.43%
Thresh=0.006087, n=69, Accuracy: 62.96%
Thresh=0.006130, n=68, Accuracy: 64.55%
Thresh=0.006205, n=67, Accuracy: 62.43%
Thresh=0.006237, n=66, Accuracy: 62.43%
Thresh=0.006247, n=65, Accuracy: 62.43%
Thresh=0.006381, n=64, Accuracy: 65.61%
Thresh=0.006441, n=63, Accuracy: 64.02%
Thresh=0.006549, n=62, Accuracy: 60.85%
Thresh=0.006746, n=61, Accuracy: 61.90%
Thresh=0.006852, n=60, Accuracy: 62.96%
Thresh=0.007081, n=59, Accuracy: 61.38%
Thresh=0.007154, n=58, Accuracy: 61.90%
Thresh=0.007487, n=57, Accuracy: 61.90%
Thresh=0.007938, n=56, Accuracy: 64.55%
Thresh=0.008026, n=55, Accuracy: 63.49%
Thresh=0.008206, n=54, Accuracy: 64.02%
Thresh=0.008313, n=53, Accuracy: 62.43%
Thresh=0.008318, n=52, Accuracy: 62.43%
Thresh=0.008855, n=51, Accuracy: 63.49%
Thresh=0.008865, n=50, Accuracy: 59.26%
Thresh=0.009623, n=49, Accuracy: 62.96%
Thresh=0.009678, n=48, Accuracy: 61.90%
Thresh=0.009739, n=47, Accuracy: 61.90%
Thresh=0.010151, n=46, Accuracy: 58.20%
Thresh=0.010187, n=45, Accuracy: 62.43%
Thresh=0.010433, n=44, Accuracy: 62.96%
Thresh=0.010442, n=43, Accuracy: 65.61%
Thresh=0.010453, n=42, Accuracy: 60.85%
Thresh=0.010541, n=41, Accuracy: 61.38%
Thresh=0.010620, n=40, Accuracy: 62.96%
Thresh=0.011017, n=39, Accuracy: 66.14%
Thresh=0.011034, n=38, Accuracy: 66.67%
Thresh=0.011561, n=37, Accuracy: 65.61%
Thresh=0.011621, n=36, Accuracy: 65.61%
Thresh=0.011638, n=35, Accuracy: 64.02%
Thresh=0.011639, n=34, Accuracy: 64.02%
Thresh=0.011647, n=33, Accuracy: 64.55%
Thresh=0.011662, n=32, Accuracy: 67.72%
Thresh=0.011711, n=31, Accuracy: 67.20%
Thresh=0.011935, n=30, Accuracy: 60.85%
Thresh=0.012077, n=29, Accuracy: 62.96%
Thresh=0.012231, n=28, Accuracy: 66.14%
Thresh=0.012463, n=27, Accuracy: 66.14%
Thresh=0.012685, n=26, Accuracy: 66.14%
Thresh=0.012774, n=25, Accuracy: 64.55%
Thresh=0.013164, n=24, Accuracy: 62.43%
Thresh=0.013187, n=23, Accuracy: 62.96%
Thresh=0.013775, n=22, Accuracy: 64.02%
Thresh=0.013845, n=21, Accuracy: 63.49%
Thresh=0.014097, n=20, Accuracy: 61.38%
Thresh=0.014225, n=19, Accuracy: 62.96%
Thresh=0.014270, n=18, Accuracy: 65.61%
Thresh=0.014414, n=17, Accuracy: 66.14%
Thresh=0.014472, n=16, Accuracy: 62.96%
Thresh=0.014760, n=15, Accuracy: 60.85%
Thresh=0.015390, n=14, Accuracy: 61.90%
Thresh=0.015632, n=13, Accuracy: 61.38%
Thresh=0.015680, n=12, Accuracy: 59.26%
Thresh=0.016251, n=11, Accuracy: 61.38%
Thresh=0.018268, n=10, Accuracy: 61.38%
Thresh=0.018616, n=9, Accuracy: 60.85%
Thresh=0.019002, n=8, Accuracy: 59.79%
Thresh=0.019362, n=7, Accuracy: 58.73%
Thresh=0.021196, n=6, Accuracy: 56.61%
Thresh=0.021864, n=5, Accuracy: 58.20%
Thresh=0.023405, n=4, Accuracy: 59.79%
Thresh=0.037587, n=3, Accuracy: 60.32%
Thresh=0.039708, n=2, Accuracy: 62.96%
Thresh=0.089378, n=1, Accuracy: 58.73%

### Round of 64

In [314]:
df1 = pd.read_csv("2024 round 1.csv")
dfstats = pd.read_csv("kenpom barttorvik 2024.csv")

In [315]:
for i in df1.index:
    for j in dfstats.index:
        if df1['Team1'][i] == dfstats['TEAM'][j]:
            arr1 = dfstats.iloc[j, 10:]
            break
            
    for k in dfstats.index:    
        if df1['Team2'][i] == dfstats['TEAM'][k]:
            arr2 = dfstats.iloc[k, 10:]
            break
            
    if i == 0:
        data = pd.DataFrame(np.subtract(arr1, arr2))
    else:
        data[i] = np.subtract(arr1, arr2)

data = data.transpose()

In [316]:
seeddiff = []

for i in df1.index:
    seeddiff.append(df1['Seed1'][i] - df1['Seed2'][i])
        
df1['Seed_Diff'] = pd.Series(seeddiff, index=df1.index)

In [317]:
final = pd.concat([df1, data], axis=1)
final = final.drop(['Year','Region Number', 'Region Name'], axis=1)
final.to_csv('R64 TESTING SET.csv', encoding='utf-8', index=False)
final.head()

,Round,Seed1,Team1,Team2,Seed2,Seed_Diff,K TEMPO,K TEMPO RANK,KADJ T,KADJ T RANK,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,1,1,Connecticut,Stetson,16,-15,-0.3975,22,-1.7103,72,...,61,-66,-13,115,-97,55,-69,-56,-310,-202
1,1,8,Florida Atlantic,Northwestern,9,-1,4.4316,-205,4.3317,-204,...,-199,173,113,-85,41,109,50,-32,-34,56
2,1,5,San Diego St,UAB,12,-7,-1.6828,109,-1.8151,113,...,105,-79,-9,-88,-59,49,-122,52,-241,-78
3,1,4,Auburn,Yale,13,-9,5.345,-267,5.2661,-269,...,-266,52,-49,-84,-122,-191,-8,-67,-92,-77
4,1,6,BYU,Duquesne,11,-5,3.193,-181,2.7345,-166,...,-163,-268,-124,-69,-229,-117,-50,-177,5,-62

In [318]:
#DATASET1 = 'all rounds testing set.csv'
DATASET1 = 'R64 TESTING SET.csv'
df = pd.read_csv(FULL_DATASET)
df1 = pd.read_csv(DATASET1)

df.head()

,Round,Seed1,Team1,Team2,Seed2,Result,Seed_Diff,K TEMPO,K TEMPO RANK,KADJ T,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,1,1,North Carolina,Mount St Marys,16,1,-15,7.6847,-120,6.6882,...,-150,-195,-91,-49,-197,-139,-181,-180,-35,-268
1,1,2,Tennessee,American,15,1,-13,11.7930,-309,9.9867,...,-300,-167,-106,113,-121,255,-242,-76,-66,-225
2,1,3,Louisville,Boise St,14,1,-11,-5.4011,151,-5.5255,...,141,-67,-116,181,-267,31,-154,32,-177,-206
3,1,4,Washington St,Winthrop,13,1,-9,-4.4331,44,-3.1859,...,33,-200,-172,-78,-143,-282,119,-149,26,-149
4,1,5,Notre Dame,George Mason,12,1,-7,8.4834,-260,7.9935,...,-250,-148,-235,80,-127,-83,-286,-28,13,-164

In [319]:
# Drop team names, seeds
df = df.drop(['Team1', 'Team2', 'GAMES', 'W', 'L', 'Seed1', 'Seed2','Seed_Diff', 'Round'], axis=1)
df1noseeds = df1.drop(['Team1', 'Team2', 'GAMES', 'W', 'L', 'Seed1', 'Seed2', 'Seed_Diff', 'Round'], axis=1)

#df['Round'] = df['Round'].astype('category')
#df1['Round'] = df1['Round'].astype('category')
#df['Seed_Diff'] = df['Seed_Diff'].astype('category')
#df1noseeds['Seed_Diff'] = df1noseeds['Seed_Diff'].astype('category')
# df['Seed2'] = df['Seed2'].astype('category')
# df1['Seed2'] = df1['Seed2'].astype('category')

df.dtypes

Result              int64
K TEMPO           float64
K TEMPO RANK        int64
KADJ T            float64
KADJ T RANK         int64
                   ...
FT% RANK            int64
OP FT% RANK         int64
PPPO RANK           int64
PPPD RANK           int64
ELITE SOS RANK      int64
Length: 91, dtype: object

In [320]:
# Split dataset into X and Y
X_train = df.iloc[:, df.columns != 'Result']
y_train = df['Result']
X_test = df1noseeds

In [321]:
# Standardize features
scaler = StandardScaler()
#scaler = MinMaxScaler(feature_range=(-10, 10))
#scaler = Normalizer()
#scaler = RobustScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

print(X_train)

[[ 1.71165624 -0.71920299  1.58300925 ... -1.89097446 -0.05762031
  -1.81177805]
 [ 2.67270046 -2.00619365  2.40203275 ... -0.55887659 -0.40695533
  -1.43400471]
 [-1.34947186  1.12616456 -1.44967451 ...  0.82445581 -1.65780011
  -1.26708161]
 ...
 [-0.60312626  0.87421401 -0.68021205 ...  1.52893064  0.4607478
  -0.0986199 ]
 [-0.18205681  0.27498027 -0.61466037 ...  0.42738818 -1.79302658
   0.18251375]
 [-0.56712482  0.77888137 -0.24680125 ...  1.61859108  0.37059683
   0.77992274]]

In [322]:
#Creating an XGBoost classifier
model = xgb.XGBClassifier(colsample_bytree = 0.782841439035954, gamma = 4.88854225172552, learning_rate = 0.22410830516276206, max_depth = 8, min_child_weight = 9, n_estimators = 679, reg_alpha = 3, reg_lambda = 0.30472594896438965, subsample = 0.45813457564102184)

In [323]:
#Training the model on the training data
model.fit(X_train, y_train)

#Making predictions on the test set
y_pred = model.predict(X_test)
print(y_pred)

[1 0 0 1 0 1 1 1 1 0 1 1 0 1 0 1 1 0 0 1 1 1 0 1 1 0 1 1 0 1 1 1]

In [324]:
df1 = pd.read_csv(DATASET1)
df1.insert(0, "Prediction", y_pred, True)

In [325]:
print(df1)

    Prediction  Round  Seed1             Team1              Team2  Seed2  \
0            1      1      1       Connecticut            Stetson     16
1            0      1      8  Florida Atlantic       Northwestern      9
2            0      1      5      San Diego St                UAB     12
3            1      1      4            Auburn               Yale     13
4            0      1      6               BYU           Duquesne     11
5            1      1      3          Illinois        Morehead St     14
6            1      1      7     Washington St              Drake     10
7            1      1      2           Iowa St    South Dakota St     15
8            1      1      1    North Carolina             Howard     16
9            0      1      8    Mississippi St        Michigan St      9
10           1      1      5       Saint Marys       Grand Canyon     12
11           1      1      4           Alabama         Charleston     13
12           0      1      6           Clemson         New Mexico     11
13           1      1      3            Baylor            Colgate     14
14           0      1      7            Dayton             Nevada     10
15           1      1      2           Arizona      Long Beach St     15
16           1      1      1           Houston           Longwood     16
17           0      1      8          Nebraska          Texas A&M      9
18           0      1      5         Wisconsin      James Madison     12
19           1      1      4              Duke            Vermont     13
20           1      1      6        Texas Tech  North Carolina St     11
21           1      1      3          Kentucky            Oakland     14
22           0      1      7           Florida           Colorado     10
23           1      1      2         Marquette   Western Kentucky     15
24           1      1      1            Purdue         Montana St     16
25           0      1      8           Utah St                TCU      9
26           1      1      5           Gonzaga            McNeese     12
27           1      1      4            Kansas            Samford     13
28           0      1      6    South Carolina             Oregon     11
29           1      1      3         Creighton              Akron     14
30           1      1      7             Texas        Colorado St     10
31           1      1      2         Tennessee       Saint Peters     15

    Seed_Diff  K TEMPO  K TEMPO RANK  KADJ T  ...  BADJT RANK  AVG HGT RANK  \
0         -15  -0.3975            22 -1.7103  ...          61           -66
1          -1   4.4316          -205  4.3317  ...        -199           173
2          -7  -1.6828           109 -1.8151  ...         105           -79
3          -9   5.3450          -267  5.2661  ...        -266            52
4          -5   3.1930          -181  2.7345  ...        -163          -268
5         -11   4.8219          -252  5.6533  ...        -277           -34
6          -3  -1.9932           115 -3.0178  ...         160          -304
7         -13   0.0360            -1 -0.5218  ...          24           -83
8         -15   2.2936           -90  2.9102  ...        -115          -134
9          -1   2.5023          -139  1.8614  ...        -106            71
10         -7  -5.9829           233 -6.1630  ...         219           -25
11         -9   4.8282          -115  4.5368  ...        -126            -8
12         -5  -4.8442           211 -6.5747  ...         250          -166
13        -11   0.7276           -32 -0.6193  ...          18           -29
14         -3  -2.4894            83 -2.4673  ...         114           147
15        -13   1.5553           -25  0.6744  ...          -7          -124
16        -15  -3.7345           136 -3.4938  ...         129           154
17         -1   1.8155          -124  2.7675  ...        -181           -39
18         -7  -5.3559           265 -4.3215  ...         250          -129
19         -9   2.2495          -102  3.4451  ...        -133          -182
20         -5  -1.6900           110 -1.4191  ...          98           106
21        -11   5.8900          -190  5.9731  ...        -209          -283
22         -3   3.8749          -121  4.1828  ...        -140             4
23        -13  -6.0919           122 -6.1669  ...          85           -97
24        -15  -0.2560            18 -1.4172  ...          56          -156
25         -1  -1.5499            74 -1.1332  ...          55           103
26         -7  -0.8463            36 -0.5725  ...          31            45
27         -9  -4.1523            95 -3.5387  ...          81          -342
28         -5  -3.8799           183 -4.2890  ...         154          -113
29        -11   1.2007           -61  1.1364  ...         -63          -224
30         -3   1.6988           -87  1.3565  ...         -73           -10
31        -13   5.3541          -272  5.2481  ...        -259           107

    EFF HGT RANK  EXP RANK  TALENT RANK  FT% RANK  OP FT% RANK  PPPO RANK  \
0            -13       115          -97        55          -69        -56
1            113       -85           41       109           50        -32
2             -9       -88          -59        49         -122         52
3            -49       -84         -122      -191           -8        -67
4           -124       -69         -229      -117          -50       -177
5            -18       -23         -110      -130         -179        -73
6           -160        13          -55       232          196         44
7             29        -5         -143        75         -176        -23
8           -229         5          -92       -11          239       -120
9              7       -52           53        73          188         23
10           -77       187          -82       266           17        -19
11          -120       139          -51       -47          197        -38
12           -45      -113          -22      -190           12        -13
13           -26        90         -328      -218          249       -141
14           -61        71          -16       -55          210        -20
15          -106        78         -166       -36          -85       -160
16            95        12         -123       -10          -74       -107
17          -101        -9           62      -181          -42        -11
18          -211       137         -206      -218          -34         18
19          -290       263         -252         6         -194       -122
20           126       102           -5       -98         -137        -40
21          -320       337         -200       -20          -92        -71
22           -26       160           25       207          -10         -9
23          -167       168          -52        15          314       -147
24          -233       155         -313        66           65       -176
25             8       202           76        92          118        -27
26           -38       230          -37        21          168        -68
27          -262        -3         -140       -17           33        111
28             2       -82            4        10           53        -22
29          -194        67         -128      -151          315       -104
30          -199        75          -70       -10         -132          4
31          -105      -151         -245      -125           19       -250

    PPPD RANK  ELITE SOS RANK
0        -310            -202
1         -34              56
2        -241             -78
3         -92             -77
4           5             -62
5          92            -226
6         -15             -58
7        -158            -276
8        -213            -299
9          20              18
10         -3            -160
11        257            -255
12        149             -25
13        139            -267
14         45              -1
15       -166            -175
16        -75            -298
17       -114              33
18        176            -316
19         27            -218
20        -51             -28
21         27            -103
22        109             -44
23         28            -297
24       -146            -304
25         54              63
26          0              58
27        -41            -258
28        -50               2
29         19            -227
30        -22             -57
31         -2            -312

[32 rows x 100 columns]

In [326]:
score = 0
results = [1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1]
team1 = []
team2 = []
seed1 = []
seed2 = []

In [327]:
for i in df1.index:
    if i%2 == 0:
        if y_pred[i] == 1:
            team1.append(df1['Team1'][i])
            seed1.append(df1['Seed1'][i])
        else:
            team1.append(df1['Team2'][i])
            seed1.append(df1['Seed2'][i])
            
    else:    
        if y_pred[i] == 1:
            team2.append(df1['Team1'][i])
            seed2.append(df1['Seed1'][i])
        else:
            team2.append(df1['Team2'][i])
            seed2.append(df1['Seed2'][i])

r32 = zip(seed1, team1, team2, seed2)            
df2 = pd.DataFrame(r32, columns=['Seed1', 'Team1', 'Team2', 'Seed2'])
df2.head()

   Seed1           Team1         Team2  Seed2
0      1     Connecticut  Northwestern      9
1     12             UAB        Auburn      4
2     11        Duquesne      Illinois      3
3      7   Washington St       Iowa St      2
4      1  North Carolina   Michigan St      9

In [328]:
for i in df1.index:
    if df1['Prediction'][i] == results[i]:
        score = score + 10
        
print(score)

240

###

In [329]:
# param_grid = {
#     'learning_rate': [0.01, 0.1, 0.3],
#     'alpha': [0.1, 0.01, 0.001],
#     'lambda': [0.1, 0.01, 0.001],
#     'n_estimators': [100, 500, 1000]
# }

# xgb_model = xgb.XGBClassifier()

# grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, cv=5, scoring='accuracy')
# grid_search.fit(X_train, y_train)

# print("Best parameters found: ", grid_search.best_params_)

In [330]:
# model_new = xgb.XGBClassifier(max_depth = 3, subsample = 0.8, colsample_bytree = 0.8, learning_rate = 0.1, n_estimators = 600)
# model_new.fit(X_train, y_train)
# y_pred = model_new.predict(X_test)
# df1['Prediction'] = y_pred

# accuracy = accuracy_score(results, y_pred)
# print("Accuracy: %.2f%%" % (accuracy * 100.0))

In [331]:
# from numpy import sort
# from sklearn.feature_selection import SelectFromModel

# # Fit model using each importance as a threshold
# thresholds = sort(model.feature_importances_)
# for thresh in thresholds:
#     # select features using threshold
#      selection = SelectFromModel(model, threshold=thresh, prefit=True)
#      select_X_train = selection.transform(X_train)
#      # train model
#      selection_model = xgb.XGBClassifier()
#      selection_model.fit(select_X_train, y_train)
#      # eval model
#      select_X_test = selection.transform(X_test)
#      y_pred = selection_model.predict(select_X_test)
#      accuracy = accuracy_score(results, y_pred)
#      print("Thresh=%.6f, n=%d, Accuracy: %.2f%%" % (thresh, select_X_train.shape[1], accuracy*100.0))

In [332]:
# selection = SelectFromModel(model, threshold=0.007545, prefit=True)
# select_X_train = selection.transform(X_train)
# # train model
# selection_model = xgb.XGBClassifier()
# selection_model.fit(select_X_train, y_train)
# # eval model
# select_X_test = selection.transform(X_test)
# y_pred = selection_model.predict(select_X_test)
# accuracy = accuracy_score(results, y_pred)
# print("Thresh=%.6f, n=%d, Accuracy: %.2f%%" % (thresh, select_X_train.shape[1], accuracy*100.0))

# df1['Prediction'] = y_pred
# print(df1)

### Round of 32

In [333]:
for i in df2.index:
    for j in dfstats.index:
        if df2['Team1'][i] == dfstats['TEAM'][j]:
            arr1 = dfstats.iloc[j, 10:]
            break
            
    for k in dfstats.index:    
        if df2['Team2'][i] == dfstats['TEAM'][k]:
            arr2 = dfstats.iloc[k, 10:]
            break
            
    if i == 0:
        data = pd.DataFrame(np.subtract(arr1, arr2))
    else:
        data[i] = np.subtract(arr1, arr2)

data = data.transpose()

In [334]:
seeddiff = []
for i in df2.index:
    seeddiff.append(df2['Seed1'][i] - df2['Seed2'][i])
df2['Seed_Diff'] = pd.Series(seeddiff, index=df2.index)

round = [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
df2['Round'] = pd.Series(round, index=df2.index)

final = pd.concat([df2, data], axis=1)
final.to_csv('R32 TESTING SET.csv', encoding='utf-8', index=False)
final.head()

,Seed1,Team1,Team2,Seed2,Seed_Diff,Round,K TEMPO,K TEMPO RANK,KADJ T,KADJ T RANK,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,1,Connecticut,Northwestern,9,-8,2,1.6203,-47,0.7329,-13,...,-18,-80,-82,194,-49,16,13,-45,-164,-21
1,12,UAB,Auburn,4,8,2,-2.2464,103,-1.989,95,...,99,100,25,-8,58,29,-83,47,266,55
2,11,Duquesne,Illinois,3,8,2,-3.7182,205,-3.565,195,...,197,278,69,137,324,140,-56,187,-100,74
3,7,Washington St,Iowa St,2,5,2,-1.4924,76,-2.5193,137,...,144,-100,-95,28,32,-13,142,7,45,58
4,1,North Carolina,Michigan St,9,-8,2,5.0637,-247,5.2588,-264,...,-257,10,-22,-31,-12,-199,170,-63,-6,30

In [335]:
DATASET2 = 'R32 TESTING SET.csv'
df2 = pd.read_csv(DATASET2)

In [336]:
# Drop team names, seeds
df2noseeds = df2.drop(['Team1', 'Team2', 'GAMES', 'W', 'L', 'Seed1', 'Seed2', 'Seed_Diff', 'Round'], axis=1)

#df2noseeds['Seed_Diff'] = df2['Seed_Diff'].astype('category')
#df2noseeds['Round'] = df2['Round'].astype('category')

df2noseeds.dtypes

K TEMPO           float64
K TEMPO RANK        int64
KADJ T            float64
KADJ T RANK         int64
K OFF             float64
                   ...
FT% RANK            int64
OP FT% RANK         int64
PPPO RANK           int64
PPPD RANK           int64
ELITE SOS RANK      int64
Length: 90, dtype: object

In [337]:
# Split dataset into X and Y
X_test = df2noseeds

# Standardize features
X_test = scaler.fit_transform(X_test)

print(X_test)

[[ 0.71881665 -0.57011462  0.51227703 ... -0.74425968 -1.14109534
  -1.12529194]
 [-0.1990364   0.31550032 -0.14551881 ...  0.58529159  2.31890286
   0.06251622]
 [-0.54840307  0.91771849 -0.52638741 ...  2.60852177 -0.62611886
   0.35946826]
 ...
 [ 0.37763937 -0.32804654  0.37223048 ... -2.00155272  0.23485744
   0.5157588 ]
 [ 0.48813685 -0.59373102  0.36522212 ...  1.0477442   0.94295009
  -0.10940338]
 [-0.23433387  0.48081511 -0.15820638 ...  0.00722582  0.91076406
  -0.75019463]]

In [338]:
#Making predictions on the test set
y_pred = model.predict(X_test)
print(y_pred)

[1 0 0 1 1 0 1 0 1 0 1 0 1 1 1 1]

In [339]:
df2.insert(0, "Prediction", y_pred, True)
print(df2)

    Prediction  Seed1           Team1         Team2  Seed2  Seed_Diff  Round  \
0            1      1     Connecticut  Northwestern      9         -8      2
1            0     12             UAB        Auburn      4          8      2
2            0     11        Duquesne      Illinois      3          8      2
3            1      7   Washington St       Iowa St      2          5      2
4            1      1  North Carolina   Michigan St      9         -8      2
5            0      5     Saint Marys       Alabama      4          1      2
6            1     11      New Mexico        Baylor      3          8      2
7            0     10          Nevada       Arizona      2          8      2
8            1      1         Houston     Texas A&M      9         -8      2
9            0     12   James Madison          Duke      4          8      2
10           1      6      Texas Tech      Kentucky      3          3      2
11           0     10        Colorado     Marquette      2          8      2
12           1      1          Purdue           TCU      9         -8      2
13           1      5         Gonzaga        Kansas      4          1      2
14           1     11          Oregon     Creighton      3          8      2
15           1      7           Texas     Tennessee      2          5      2

    K TEMPO  K TEMPO RANK   KADJ T  ...  BADJT RANK  AVG HGT RANK  \
0    1.6203           -47   0.7329  ...         -18           -80
1   -2.2464           103  -1.9890  ...          99           100
2   -3.7182           205  -3.5650  ...         197           278
3   -1.4924            76  -2.5193  ...         144          -100
4    5.0637          -247   5.2588  ...        -257            10
5  -10.8111           348 -10.6998  ...         345           -17
6    5.5837          -248   7.0771  ...        -267           163
7   -6.3272           254  -5.1930  ...         208            11
8   -3.2783           102  -2.5748  ...          63           172
9    3.3947          -173   2.7969  ...        -155           117
10  -6.8525           250  -5.9952  ...         231           292
11  -0.2441            14  -1.4689  ...          74           -37
12  -1.6551            82  -2.2867  ...         114            -4
13   0.1830            -6   0.1534  ...          -8            86
14   0.6485           -51   0.1244  ...         -14           230
15  -2.3951           131  -2.0415  ...         117            -8

    EFF HGT RANK  EXP RANK  TALENT RANK  FT% RANK  OP FT% RANK  PPPO RANK  \
0            -82       194          -49        16           13        -45
1             25        -8           58        29          -83         47
2             69       137          324       140          -56        187
3            -95        28           32       -13          142          7
4            -22       -31          -12      -199          170        -63
5             43        48          -31       313         -180         19
6             55       -92            6       101           52         27
7            127      -146           97       -24          -74         31
8             99        35          -23        53         -107        -39
9            213      -296          255        81          228         12
10           238      -197           45        -6          -60         45
11             4       -99           37      -192         -225        -11
12           -90       220            2        49          149        -67
13            47        83           -9        17          168       -132
14           174       107           13       197         -161         79
15           -41        -8           12       -25           68          7

    PPPD RANK  ELITE SOS RANK
0        -164             -21
1         266              55
2        -100              74
3          45              58
4          -6              30
5        -260              95
6        -126              86
7          44              42
8        -171             -10
9         -33             245
10       -102             -24
11         34              75
12         25             -20
13          7              84
14         95              44
15         91               3

[16 rows x 100 columns]

In [340]:
results1 = ['Connecticut', 'Illinois', 'North Carolina', 'Clemson', 'Houston', 'North Carolina St', 'Purdue', 'Creighton']
results2 = ['San Diego St', 'Iowa St', 'Alabama', 'Arizona', 'Duke', 'Marquette', 'Gonzaga', 'Tennessee']
team1 = []
team2 = []
seed1 = []
seed2 = []

for i in df2.index:
    if i%2 == 0:
        if y_pred[i] == 1:
            team1.append(df2['Team1'][i])
            seed1.append(df2['Seed1'][i])
        else:
            team1.append(df2['Team2'][i])
            seed1.append(df2['Seed2'][i])
            
    else:    
        if y_pred[i] == 1:
            team2.append(df2['Team1'][i])
            seed2.append(df2['Seed1'][i])
        else:
            team2.append(df2['Team2'][i])
            seed2.append(df2['Seed2'][i])

r16 = zip(seed1, team1, team2, seed2)            
df3 = pd.DataFrame(r16, columns=['Seed1', 'Team1', 'Team2', 'Seed2'])
df3.head()

   Seed1           Team1          Team2  Seed2
0      1     Connecticut         Auburn      4
1      3        Illinois  Washington St      7
2      1  North Carolina        Alabama      4
3     11      New Mexico        Arizona      2
4      1         Houston           Duke      4

In [341]:
i = 0
j = 0
for k in df2.index:
    if df2['Prediction'][k] == 1:
        if k%2 == 0:
            if df2['Team1'][k] == results1[i]:
                score += 20
            i += 1
        else:
            if df2['Team1'][k] == results2[j]:
                score += 20
            j += 1
    else:
        if k%2 == 0:
            if df2['Team2'][k] == results1[i]:
                score += 20
            i += 1
        else:
            if df2['Team2'][k] == results2[j]:
                score += 20
            j += 1
        
print(score)

440

### Sweet 16

In [342]:
for i in df3.index:
    for j in dfstats.index:
        if df3['Team1'][i] == dfstats['TEAM'][j]:
            arr1 = dfstats.iloc[j, 10:]
            break
            
    for k in dfstats.index:    
        if df3['Team2'][i] == dfstats['TEAM'][k]:
            arr2 = dfstats.iloc[k, 10:]
            break
            
    if i == 0:
        data = pd.DataFrame(np.subtract(arr1, arr2))
    else:
        data[i] = np.subtract(arr1, arr2)

data = data.transpose()

In [343]:
seeddiff = []
for i in df3.index:
    seeddiff.append(df3['Seed1'][i] - df3['Seed2'][i])
df3['Seed_Diff'] = pd.Series(seeddiff, index=df3.index)

round = [3, 3, 3, 3, 3, 3, 3, 3]
df3['Round'] = pd.Series(round, index=df3.index)

final = pd.concat([df3, data], axis=1)
final.to_csv('R16 TESTING SET.csv', encoding='utf-8', index=False)
final.head()

,Seed1,Team1,Team2,Seed2,Seed_Diff,Round,K TEMPO,K TEMPO RANK,KADJ T,KADJ T RANK,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,1,Connecticut,Auburn,4,-3,3,-4.7313,245,-5.3344,271,...,267,-62,-48,156,-34,32,-83,-11,14,-50
1,3,Illinois,Washington St,7,-4,3,3.8709,-209,5.068,-260,...,-258,6,85,-222,-57,-188,-112,-65,100,-55
2,1,North Carolina,Alabama,4,-3,3,-2.7023,34,-2.1984,32,...,33,131,56,-23,-104,45,4,28,-234,36
3,11,New Mexico,Arizona,2,9,3,-0.9495,11,0.8424,-8,...,-9,144,40,16,33,3,172,34,15,40
4,1,Houston,Duke,4,-3,3,-3.5721,127,-3.4103,117,...,132,311,328,-254,19,112,-27,28,-44,-64

In [344]:
DATASET3 = 'R16 TESTING SET.csv'
df3 = pd.read_csv(DATASET3)

df3noseeds = df3.drop(['Team1', 'Team2', 'GAMES', 'W', 'L', 'Seed1', 'Seed2', 'Seed_Diff', 'Round'], axis=1)

#df3noseeds['Seed_Diff'] = df3['Seed_Diff'].astype('category')
#df3noseeds['Round'] = df3['Round'].astype('category')

X_test = df3noseeds

X_test = scaler.fit_transform(X_test)

In [345]:
#Making predictions on the test set
y_pred = model.predict(X_test)
print(y_pred)

df3.insert(0, "Prediction", y_pred, True)
print(df3)

[1 1 1 1 1 1 1 0]
   Prediction  Seed1           Team1          Team2  Seed2  Seed_Diff  Round  \
0           1      1     Connecticut         Auburn      4         -3      3
1           1      3        Illinois  Washington St      7         -4      3
2           1      1  North Carolina        Alabama      4         -3      3
3           1     11      New Mexico        Arizona      2          9      3
4           1      1         Houston           Duke      4         -3      3
5           1      6      Texas Tech      Marquette      2          4      3
6           1      1          Purdue        Gonzaga      5         -4      3
7           0     11          Oregon          Texas      7          4      3

   K TEMPO  K TEMPO RANK  KADJ T  ...  BADJT RANK  AVG HGT RANK  EFF HGT RANK  \
0  -4.7313           245 -5.3344  ...         267           -62           -48
1   3.8709          -209  5.0680  ...        -258             6            85
2  -2.7023            34 -2.1984  ...          33           131            56
3  -0.9495            11  0.8424  ...          -9           144            40
4  -3.5721           127 -3.4103  ...         132           311           328
5  -2.1164           135 -2.3366  ...         159           253           227
6  -0.8088            46 -1.7142  ...          83           -49           -52
7   0.4280           -33 -0.0067  ...           4           -12            66

   EXP RANK  TALENT RANK  FT% RANK  OP FT% RANK  PPPO RANK  PPPD RANK  \
0       156          -34        32          -83        -11         14
1      -222          -57      -188         -112        -65        100
2       -23         -104        45            4         28       -234
3        16           33         3          172         34         15
4      -254           19       112          -27         28        -44
5       -63           16      -192         -209          8         58
6       -10           39        28          -19          1         25
7        98            7       165           21         46         65

   ELITE SOS RANK
0             -50
1             -55
2              36
3              40
4             -64
5              24
6             -78
7              49

[8 rows x 100 columns]

In [346]:
results1 = ['Connecticut', 'Alabama', 'Duke', 'Purdue']
results2 = ['Illinois', 'Clemson', 'North Carolina St', 'Tennessee']
team1 = []
team2 = []
seed1 = []
seed2 = []

for i in df3.index:
    if i%2 == 0:
        if y_pred[i] == 1:
            team1.append(df3['Team1'][i])
            seed1.append(df3['Seed1'][i])
        else:
            team1.append(df3['Team2'][i])
            seed1.append(df3['Seed2'][i])
            
    else:    
        if y_pred[i] == 1:
            team2.append(df3['Team1'][i])
            seed2.append(df3['Seed1'][i])
        else:
            team2.append(df3['Team2'][i])
            seed2.append(df3['Seed2'][i])

r8 = zip(seed1, team1, team2, seed2)            
df4 = pd.DataFrame(r8, columns=['Seed1', 'Team1', 'Team2', 'Seed2'])
df4.head()

   Seed1           Team1       Team2  Seed2
0      1     Connecticut    Illinois      3
1      1  North Carolina  New Mexico     11
2      1         Houston  Texas Tech      6
3      1          Purdue       Texas      7

In [347]:
i = 0
j = 0
for k in df3.index:
    if df3['Prediction'][k] == 1:
        if k%2 == 0:
            if df3['Team1'][k] == results1[i]:
                score += 40
            i += 1
        else:
            if df3['Team1'][k] == results2[j]:
                score += 40
            j += 1
    else:
        if k%2 == 0:
            if df3['Team2'][k] == results1[i]:
                score += 40
            i += 1
        else:
            if df3['Team2'][k] == results2[j]:
                score += 40
            j += 1
        
print(score)

560

### Elite 8

In [348]:
for i in df4.index:
    for j in dfstats.index:
        if df4['Team1'][i] == dfstats['TEAM'][j]:
            arr1 = dfstats.iloc[j, 10:]
            break
            
    for k in dfstats.index:    
        if df4['Team2'][i] == dfstats['TEAM'][k]:
            arr2 = dfstats.iloc[k, 10:]
            break
            
    if i == 0:
        data = pd.DataFrame(np.subtract(arr1, arr2))
    else:
        data[i] = np.subtract(arr1, arr2)

data = data.transpose()

In [349]:
seeddiff = []
for i in df4.index:
    seeddiff.append(df4['Seed1'][i] - df4['Seed2'][i])
df4['Seed_Diff'] = pd.Series(seeddiff, index=df4.index)

round = [4, 4, 4, 4]
df4['Round'] = pd.Series(round, index=df4.index)

final = pd.concat([df4, data], axis=1)
final.to_csv('R8 TESTING SET.csv', encoding='utf-8', index=False)
final.head()

,Seed1,Team1,Team2,Seed2,Seed_Diff,Round,K TEMPO,K TEMPO RANK,KADJ T,KADJ T RANK,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,1,Connecticut,Illinois,3,-2,4,-4.3182,233,-5.4343,273,...,269,16,-81,235,-3,11,33,-5,-125,-8
1,1,North Carolina,New Mexico,11,-10,4,-0.9663,19,-2.2326,33,...,39,-30,-13,-79,-38,-143,12,-12,0,-44
2,1,Houston,Texas Tech,6,-5,4,-3.0512,93,-3.3727,114,...,104,42,86,-64,-33,271,-123,-14,-117,-18
3,1,Purdue,Texas,7,-6,4,0.7901,-51,0.2176,-21,...,-27,-213,-112,130,-5,137,39,-47,-33,-9

In [350]:
DATASET4 = 'R8 TESTING SET.csv'
df4 = pd.read_csv(DATASET4)

df4noseeds = df4.drop(['Team1', 'Team2', 'GAMES', 'W', 'L', 'Seed1', 'Seed2', 'Seed_Diff', 'Round'], axis=1)

#df4noseeds['Seed_Diff'] = df4['Seed_Diff'].astype('category')
#df4noseeds['Round'] = df4['Round'].astype('category')

X_test = df4noseeds

X_test = scaler.fit_transform(X_test)

In [351]:
#Making predictions on the test set
y_pred = model.predict(X_test)
print(y_pred)

df4.insert(0, "Prediction", y_pred, True)
print(df4)

[0 0 1 1]
   Prediction  Seed1           Team1       Team2  Seed2  Seed_Diff  Round  \
0           0      1     Connecticut    Illinois      3         -2      4
1           0      1  North Carolina  New Mexico     11        -10      4
2           1      1         Houston  Texas Tech      6         -5      4
3           1      1          Purdue       Texas      7         -6      4

   K TEMPO  K TEMPO RANK  KADJ T  ...  BADJT RANK  AVG HGT RANK  EFF HGT RANK  \
0  -4.3182           233 -5.4343  ...         269            16           -81
1  -0.9663            19 -2.2326  ...          39           -30           -13
2  -3.0512            93 -3.3727  ...         104            42            86
3   0.7901           -51  0.2176  ...         -27          -213          -112

   EXP RANK  TALENT RANK  FT% RANK  OP FT% RANK  PPPO RANK  PPPD RANK  \
0       235           -3        11           33         -5       -125
1       -79          -38      -143           12        -12          0
2       -64          -33       271         -123        -14       -117
3       130           -5       137           39        -47        -33

   ELITE SOS RANK
0              -8
1             -44
2             -18
3              -9

[4 rows x 100 columns]

In [352]:
results1 = ['Connecticut', 'North Carolina St']
results2 = ['Alabama', 'Purdue']
team1 = []
team2 = []
seed1 = []
seed2 = []

for i in df4.index:
    if i%2 == 0:
        if y_pred[i] == 1:
            team1.append(df4['Team1'][i])
            seed1.append(df4['Seed1'][i])
        else:
            team1.append(df4['Team2'][i])
            seed1.append(df4['Seed2'][i])
            
    else:    
        if y_pred[i] == 1:
            team2.append(df4['Team1'][i])
            seed2.append(df4['Seed1'][i])
        else:
            team2.append(df4['Team2'][i])
            seed2.append(df4['Seed2'][i])

r4 = zip(seed1, team1, team2, seed2)            
df5 = pd.DataFrame(r4, columns=['Seed1', 'Team1', 'Team2', 'Seed2'])
df5.head()

   Seed1     Team1       Team2  Seed2
0      3  Illinois  New Mexico     11
1      1   Houston      Purdue      1

In [353]:
i = 0
j = 0
for k in df4.index:
    if df4['Prediction'][k] == 1:
        if k%2 == 0:
            if df4['Team1'][k] == results1[i]:
                score += 80
            i += 1
        else:
            if df4['Team1'][k] == results2[j]:
                score += 80
            j += 1
    else:
        if k%2 == 0:
            if df4['Team2'][k] == results1[i]:
                score += 80
            i += 1
        else:
            if df4['Team2'][k] == results2[j]:
                score += 80
            j += 1
        
print(score)

640

### Final 4

In [354]:
for i in df5.index:
    for j in dfstats.index:
        if df5['Team1'][i] == dfstats['TEAM'][j]:
            arr1 = dfstats.iloc[j, 10:]
            break
            
    for k in dfstats.index:    
        if df5['Team2'][i] == dfstats['TEAM'][k]:
            arr2 = dfstats.iloc[k, 10:]
            break
            
    if i == 0:
        data = pd.DataFrame(np.subtract(arr1, arr2))
    else:
        data[i] = np.subtract(arr1, arr2)

data = data.transpose()

In [355]:
seeddiff = []
for i in df5.index:
    seeddiff.append(df5['Seed1'][i] - df5['Seed2'][i])
df5['Seed_Diff'] = pd.Series(seeddiff, index=df5.index)

round = [5, 5]
df5['Round'] = pd.Series(round, index=df5.index)

final = pd.concat([df5, data], axis=1)
final.to_csv('R4 TESTING SET.csv', encoding='utf-8', index=False)
final.head()

,Seed1,Team1,Team2,Seed2,Seed_Diff,Round,K TEMPO,K TEMPO RANK,KADJ T,KADJ T RANK,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,3,Illinois,New Mexico,11,-8,5,-1.8767,44,-2.7917,48,...,49,-186,32,-164,-2,-118,-138,-36,118,-60
1,1,Houston,Purdue,1,0,5,-4.8272,207,-4.1103,173,...,181,300,337,-128,-29,107,-214,32,-66,3

In [356]:
DATASET5 = 'R4 TESTING SET.csv'
df5 = pd.read_csv(DATASET5)

df5noseeds = df5.drop(['Team1', 'Team2', 'GAMES', 'W', 'L', 'Seed1', 'Seed2', 'Seed_Diff', 'Round'], axis=1)

#df5noseeds['Seed_Diff'] = df5['Seed_Diff'].astype('category')
#df5noseeds['Round'] = df5['Round'].astype('category')

X_test = df5noseeds

X_test = scaler.fit_transform(X_test)

In [357]:
#Making predictions on the test set
y_pred = model.predict(X_test)
print(y_pred)

df5.insert(0, "Prediction", y_pred, True)
print(df5)

[1 1]
   Prediction  Seed1     Team1       Team2  Seed2  Seed_Diff  Round  K TEMPO  \
0           1      3  Illinois  New Mexico     11         -8      5  -1.8767
1           1      1   Houston      Purdue      1          0      5  -4.8272

   K TEMPO RANK  KADJ T  ...  BADJT RANK  AVG HGT RANK  EFF HGT RANK  \
0            44 -2.7917  ...          49          -186            32
1           207 -4.1103  ...         181           300           337

   EXP RANK  TALENT RANK  FT% RANK  OP FT% RANK  PPPO RANK  PPPD RANK  \
0      -164           -2      -118         -138        -36        118
1      -128          -29       107         -214         32        -66

   ELITE SOS RANK
0             -60
1               3

[2 rows x 100 columns]

In [358]:
team1 = []
team2 = []
seed1 = []
seed2 = []

for i in df5.index:
    if i%2 == 0:
        if y_pred[i] == 1:
            team1.append(df5['Team1'][i])
            seed1.append(df5['Seed1'][i])
        else:
            team1.append(df5['Team2'][i])
            seed1.append(df5['Seed2'][i])
            
    else:    
        if y_pred[i] == 1:
            team2.append(df5['Team1'][i])
            seed2.append(df5['Seed1'][i])
        else:
            team2.append(df5['Team2'][i])
            seed2.append(df5['Seed2'][i])

r2 = zip(seed1, team1, team2, seed2)            
df6 = pd.DataFrame(r2, columns=['Seed1', 'Team1', 'Team2', 'Seed2'])
df6.head()

   Seed1     Team1    Team2  Seed2
0      3  Illinois  Houston      1

In [359]:
if df6['Team1'][0] == 'Connecticut':
    score += 160
if df6['Team2'][0] == 'Purdue':
    score += 160

print(score)

640

### FINAL

In [360]:
for i in df6.index:
    for j in dfstats.index:
        if df6['Team1'][i] == dfstats['TEAM'][j]:
            arr1 = dfstats.iloc[j, 10:]
            break
            
    for k in dfstats.index:    
        if df6['Team2'][i] == dfstats['TEAM'][k]:
            arr2 = dfstats.iloc[k, 10:]
            break
            
    if i == 0:
        data = pd.DataFrame(np.subtract(arr1, arr2))
    else:
        data[i] = np.subtract(arr1, arr2)

data = data.transpose()

In [361]:
seeddiff = []
for i in df6.index:
    seeddiff.append(df6['Seed1'][i] - df5['Seed2'][i])
df6['Seed_Diff'] = pd.Series(seeddiff, index=df6.index)

round = [6]
df6['Round'] = pd.Series(round, index=df6.index)

final = pd.concat([df6, data], axis=1)
final.head()

,Seed1,Team1,Team2,Seed2,Seed_Diff,Round,K TEMPO,K TEMPO RANK,KADJ T,KADJ T RANK,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,3,Illinois,Houston,1,-8,6,6.391,-285,6.6205,-292,...,-293,-335,-229,-49,18,-209,163,-30,146,16

In [362]:
finalnoseeds = final.drop(['Team1', 'Team2', 'GAMES', 'W', 'L', 'Seed1', 'Seed2', 'Round', 'Seed_Diff'], axis=1)

#finalnoseeds['Seed_Diff'] = final['Seed_Diff'].astype('category')
#finalnoseeds['Round'] = final['Round'].astype('category')

X_test = finalnoseeds

X_test = scaler.fit_transform(X_test)

In [363]:
#Making predictions on the test set
y_pred = model.predict(X_test)
print(y_pred)

df6.insert(0, "Prediction", y_pred, True)
print(df6)

[1]
   Prediction  Seed1     Team1    Team2  Seed2  Seed_Diff  Round
0           1      3  Illinois  Houston      1         -8      6

In [364]:
if df6['Team1'][0] == 'Connecticut' and y_pred[0] == 1:
    score += 320
    
print(score)

640

### Hyperparameter Tuning

In [366]:
# # import packages for hyperparameters tuning
# from hyperopt import STATUS_OK, Trials, fmin, hp, tpe

In [367]:
# df = pd.read_csv(FULL_DATASET)
# df = df.drop(['Team1', 'Team2', 'GAMES', 'W', 'L', 'Seed1', 'Seed2', 'Seed_Diff', 'Round'], axis=1)
# #df['Seed_Diff'] = df['Seed_Diff'].astype('category')
# #df['Round'] = df['Round'].astype('category')

# df.head()

In [304]:
# X = df.drop('Result', axis=1)
# y = df['Result']

In [368]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [369]:
# from hyperopt.pyll.base import scope

# space={'n_estimators': scope.int(hp.quniform('n_estimators', 100, 1000, 1)),
#         "learning_rate": hp.uniform("learning_rate", 0.001, 1),
#         'max_depth': scope.int(hp.quniform("max_depth", 1, 10, 1)),
#         'gamma': hp.uniform ('gamma', 1, 9),
#         'reg_alpha' : hp.quniform('reg_alpha', 0, 100, 1),
#         'reg_lambda' : hp.uniform('reg_lambda', 0, 1),
#         'colsample_bytree' : hp.uniform('colsample_bytree', 0.5, 1),
#         'min_child_weight' : scope.int(hp.quniform('min_child_weight', 0, 10, 1)),
#         'subsample' : hp.uniform('subsample', 0, 1),
#         'seed': 0
#     }

In [370]:
# def objective(space):
#     clf=xgb.XGBClassifier(**space, enable_categorical=True)
    
#     evaluation = [(X_train, y_train), (X_test, y_test)]
    
#     clf.fit(X_train, y_train,
#             eval_set=evaluation, eval_metric="auc",
#             early_stopping_rounds=10,verbose=False)
    

#     y_pred = clf.predict(X_test)
#     accuracy = accuracy_score(y_test, y_pred>0.5)
#     print ("SCORE:", accuracy)
#     return {'loss': -accuracy, 'status': STATUS_OK }

In [371]:
# trials = Trials()

# best_hyperparams = fmin(fn = objective,
#                         space = space,
#                         algo = tpe.suggest,
#                         max_evals = 100,
#                         trials = trials)

In [372]:
# print(best_hyperparams)

In [373]:
# from numpy import sort
# from sklearn.feature_selection import SelectFromModel

# model = xgb.XGBClassifier(best_hyperparams, enable_categorical=True)
# model.fit(X_train, y_train)
# # Fit model using each importance as a threshold
# thresholds = sort(model.feature_importances_)
# for thresh in thresholds:
#     # select features using threshold
#      selection = SelectFromModel(model, threshold=thresh, prefit=True)
#      select_X_train = selection.transform(X_train)
#      # train model
#      selection_model = xgb.XGBClassifier()
#      selection_model.fit(select_X_train, y_train)
#      # eval model
#      select_X_test = selection.transform(X_test)
#      y_pred = selection_model.predict(select_X_test)
#      accuracy = accuracy_score(y_test, y_pred)
#      print("Thresh=%.6f, n=%d, Accuracy: %.2f%%" % (thresh, select_X_train.shape[1], accuracy*100.0))

In [374]:
# print(best_hyperparams)

In [375]:
# print(best_hyperparams)

### First Four

In [31]:
DATASET6 = 'F4 TESTING SET.csv'
df6 = pd.read_csv(DATASET6)
df6.head()

,Round,Seed1,Team1,Team2,Seed2,K TEMPO,K TEMPO RANK,KADJ T,KADJ T RANK,K OFF,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,1,10,Colorado St,Virginia,10,5.2295,-80,5.8921,-92,9.3220,...,-94,200,210,-279,98,-300,-22,-189,112,-7
1,1,10,Colorado,Boise St,10,2.4845,-141,0.7015,-56,2.4400,...,-75,-15,-142,-47,-61,-79,-89,-40,13,10
2,1,16,Grambling,Montana St,16,-0.1597,11,-1.2871,69,8.5090,...,48,-188,-205,55,-288,-98,-42,-149,-119,-232
3,1,16,Howard,Wagner,16,6.5981,-230,6.2845,-198,8.9186,...,-200,-19,-35,-180,-268,-184,68,-168,200,-8

In [32]:
# Drop player names
df6 = df6.drop(['Team1', 'Team2', 'Round', 'Seed1', 'Seed2'], axis=1)

X_test = df6

X_test = scaler.fit_transform(X_test)

print(X_test)

[[ 0.65092094  0.34131703  0.91569168 -0.23854133  0.71816902 -0.83787781
   0.15104058 -0.29520898  0.84254933  0.49762506  0.6162228   0.16101849
  -0.37207704  0.42771846 -0.51870425  0.03783734  0.74312677 -0.6144677
  -1.69245584 -1.23624508  0.45083482 -0.84307293  0.38706402  1.05107513
   0.14097545  0.7656974  -0.51832106 -0.41872166 -0.99392887  0.15014605
  -0.15014605  0.99392887  0.64165429  1.44687227  1.34613411 -1.65338983
   0.79475876 -1.69580059 -0.18124986 -0.72868458  0.66511894 -1.31877278
   1.31877278  0.6282292  -0.6282292   0.88568239 -1.45432487 -1.60691341
   1.32399774 -1.69077512  1.72786106 -0.41284265  0.73532569  0.825137
  -0.37903261 -0.56502359  0.55286881 -0.2590567   0.20921604  0.6444503
  -0.729504    0.75350529 -0.10178271  0.77668893 -1.02988168  0.19618342
   0.97122494 -0.24495991 -0.24495991  0.97122494  0.36439122 -1.58974645
   1.29519941  1.47704194  0.91624821  1.68359021 -0.29522634  1.0039414
   0.33803877  1.32739456 -1.32509645  0.71654976 -0.72775977 -0.15617754
   1.49273061  1.59916926 -1.30795322  1.43502652 -1.543893   -0.01316258
  -0.91331976  0.51011279  0.52253429]
 [-0.40546902 -0.35269426 -0.67162752  0.13893066 -1.72302392  1.70464795
  -1.52155863  1.59715627 -0.41361244 -0.32812831 -0.02640773  0.00220573
  -0.65869605  0.67607111 -0.5258681  -1.48400812 -0.22552158 -0.60908943
   0.91132238  0.13736056  0.45083482 -0.30806697 -0.34152708 -0.41838913
  -1.27732297 -0.71243149 -0.51832106  0.28649377 -0.68513543 -0.35034077
   0.35034077  0.68513543 -0.40832546 -0.63068791 -0.43350082  0.58013678
  -0.4038938   0.31403715 -1.55874878  1.09965128  0.450131    0.84907289
  -0.84907289 -0.72246358  0.72246358 -0.67062177  0.13045759  0.67805957
  -0.534782    0.23956181 -0.68808626 -0.87522641 -1.71575995 -0.4125685
  -0.80180642 -0.48313611  0.5968054   1.624992   -0.08773576  0.62972
   0.4491456  -0.32113178  1.38549123 -0.72233501 -0.18022929 -0.16711921
   0.72689162  0.05249141  0.05249141  0.72689162 -0.33523993  0.36323584
  -0.47500479 -0.38156917 -0.52850259 -0.24923239 -1.48677049 -1.07354801
   0.55761951 -0.83940442  0.84211737 -0.6374822   0.62484424  0.05963142
  -0.06900701 -0.62576189  0.51728075  0.43318583  0.98820609 -1.18901971
   1.6787687  -0.32461723  0.69254545]
 [-1.42306697  1.37664535 -1.27975432  1.44959731  0.4297805  -0.34258058
   1.28646041 -1.15812753 -1.44472085 -1.43203018 -1.60746824 -1.48886957
   1.71880493 -1.72467121  1.72828015  1.33569589 -1.53609368  1.73045937
   0.39056673  1.5109662  -1.71317231  1.70068355 -1.38887679 -1.43885042
  -0.3545746  -1.23177407 -0.69109474 -1.30024095  1.59221614  1.48477757
  -1.48477757 -1.59221614 -1.41941706 -1.17481082 -1.34613411  0.11602736
  -1.44620037  0.50245943  0.97874924  0.86117269  0.61137196  1.08030976
  -1.08030976 -1.19363548  1.19363548 -1.27857848  1.36606705  0.97759346
  -1.30279493  0.84986361 -0.50459659 -0.41284265  0.35823559 -1.44398974
   1.7120813   1.72782577 -1.73183408 -1.10687861 -1.46451226 -1.72712679
   1.41037441 -1.48812047  0.14748108 -1.22582396 -0.43769972  1.38781608
  -1.58613045 -1.30353667 -1.30353667 -1.58613045  1.35553536  1.15575038
  -1.34830553  0.18463024 -1.37835601 -0.52389665  1.13037112 -0.92362609
   0.8118709  -1.08493405  1.08360691 -1.27990611  1.29134477  1.45671051
  -1.325661   -1.023974    1.3197543  -0.99711502  0.77051432 -0.36416471
  -0.21745709 -1.43759058 -1.72761338]
 [ 1.17761505 -1.36526811  1.03569015 -1.34998665  0.5750744  -0.52418956
   0.08405765 -0.14381976  1.01578396  1.26253344  1.01765316  1.32564535
  -0.68803184  0.62088163 -0.6837078   0.11047489  1.0184885  -0.50690224
   0.39056673 -0.41208169  0.81150267 -0.54954366  1.34333985  0.80616442
   1.49092213  1.17850817  1.72773685  1.43246884  0.08684815 -1.28458284
   1.28458284 -0.08684815  1.18608823  0.35862646  0.43350082  0.95722569
   1.0553354   0.87930401  0.76124941 -1.23213938 -1.7266219  -0.61060986
   0.61060986  1.28786986 -1.28786986  1.06351785 -0.04219978 -0.04873962
   0.51357919  0.6013497  -0.53517821  1.7009117   0.62219866  1.03142125
  -0.53124228 -0.67966606  0.58215987 -0.2590567   1.34303198  0.45295649
  -1.13001601  1.05574696 -1.43118959  1.17147004  1.64781069 -1.41688029
  -0.1119861   1.49600517  1.49600517 -0.1119861  -1.38468665  0.07076023
   0.52811092 -1.28010302  0.99061039 -0.91046117  0.6516257   0.99323269
  -1.70752918  0.59694391 -0.60062783  1.20083856 -1.18842925 -1.36016439
  -0.09806259  0.05056662 -0.52908183 -0.87109733 -0.21482741  1.566347
  -0.54799186  1.25209502  0.51253364]]

In [33]:
for i in range(0, 10):
    #Creating an XGBoost classifier
    model = xgb.XGBClassifier()

    #Training the model on the training data
    model.fit(X_train, y_train)

    #Making predictions on the test set
    y_pred = model.predict(X_test)
    print(y_pred)

[1 1 1 0]
[1 1 1 0]
[1 1 1 0]
[1 1 1 0]
[1 1 1 0]
[1 1 1 0]
[1 1 1 0]
[1 1 1 0]
[1 1 1 0]
[1 1 1 0]

In [34]:
df6 = pd.read_csv(DATASET6)
df6.insert(0, "Prediction", y_pred, True)
print(df6)

   Prediction  Round  Seed1        Team1       Team2  Seed2  K TEMPO  \
0           1      1     10  Colorado St    Virginia     10   5.2295
1           1      1     10     Colorado    Boise St     10   2.4845
2           1      1     16    Grambling  Montana St     16  -0.1597
3           0      1     16       Howard      Wagner     16   6.5981

   K TEMPO RANK  KADJ T  KADJ T RANK  ...  BADJT RANK  AVG HGT RANK  \
0           -80  5.8921          -92  ...         -94           200
1          -141  0.7015          -56  ...         -75           -15
2            11 -1.2871           69  ...          48          -188
3          -230  6.2845         -198  ...        -200           -19

   EFF HGT RANK  EXP RANK  TALENT RANK  FT% RANK  OP FT% RANK  PPPO RANK  \
0           210      -279           98      -300          -22       -189
1          -142       -47          -61       -79          -89        -40
2          -205        55         -288       -98          -42       -149
3           -35      -180         -268      -184           68       -168

   PPPD RANK  ELITE SOS RANK
0        112              -7
1         13              10
2       -119            -232
3        200              -8

[4 rows x 99 columns]