In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
import pprint
from sklearn.preprocessing import StandardScaler
%matplotlib inline

from sklearn.metrics import f1_score, recall_score, accuracy_score, precision_score, confusion_matrix
from sklearn.metrics import r2_score, roc_auc_score, roc_curve, classification_report
import xgboost as xgb
from sklearn.model_selection import cross_validate
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import KFold

DATASET1 = 'march madness past data.csv'
DATASET2 = 'march madness this year.csv'

In [28]:
df = pd.read_csv(DATASET1)
df2 = pd.read_csv(DATASET2)
print(df.head(10))

   YEAR  SEED  target  K TEMPO  K TEMPO RANK   KADJ T  KADJ T RANK    K OFF  \
0  2023     1       4  72.8260            12  72.7469            4  110.862
1  2023     2       6  72.8989            10  72.3118            9  113.208
2  2023    11       6  69.1548           121  68.4035          131  100.983
3  2023     8       4  70.1147            73  69.6808           54  105.743
4  2023     9       5  68.6925           145  67.6112          165  105.387
5  2023     3       5  67.8723           185  66.5510          217  113.141
6  2023    10       6  67.0127           229  66.5002          219  105.781
7  2023    15       6  68.0072           179  67.8783          156  114.974
8  2023    12       6  70.8386            44  70.9567           29  112.460
9  2023     4       0  68.5693           154  66.6901          210  114.228

   KO RANK   KADJ O  ...  EFF HGT RANK  EXP RANK  TALENT RANK  FT% RANK  \
0       32  116.097  ...            10       353           19       146
1       13  119.979  ...             5       184            8       218
2      236  107.586  ...            70       114           54       288
3      119  112.596  ...           132       330           11       287
4      131  112.689  ...            54       130           58       245
5       14  121.852  ...           120       238           34        64
6      118  110.969  ...           245       145          139       107
7        7  112.963  ...            52       123          362       332
8       17  111.378  ...           204       171          362        85
9        9  119.437  ...            62       274           23        49

   OP FT% RANK  PPPO RANK  PPPD RANK  ELITE SOS RANK  CONF_encoded  \
0          163         33          6              10            27
1          163         12         66              35            23
2          102        244         46              45            23
3          163        120         35              26            27
4          124        130         53              29            27
5          134         14        176               3             6
6           63        120         29              71            19
7           38          7        140             343            24
8           28         17         15             336            11
9          286          9         22              38             7

   TEAM_encoded
0             2
1             7
2             8
3             9
4            11
5            14
6            17
7            35
8            36
9            39

[10 rows x 98 columns]

In [29]:
df.isnull().sum()

YEAR              0
SEED              0
target            0
K TEMPO           0
K TEMPO RANK      0
                 ..
PPPO RANK         0
PPPD RANK         0
ELITE SOS RANK    0
CONF_encoded      0
TEAM_encoded      0
Length: 98, dtype: int64

In [30]:
# Split dataset into X and Y
X_train = df.iloc[:, df.columns != 'target']
y_train = df['target']
X_test = df2.iloc[:, df2.columns != 'target']

In [31]:
for i in range(0, 10):
    #Creating an XGBoost regressor
    model = xgb.XGBRegressor()

    #Training the model on the training data
    model.fit(X_train, y_train)

    if i > 0:
        y_pred = np.add(y_pred, model.predict(X_test))
    else:
        y_pred = model.predict(X_test)

print(y_pred)

[57.92488   49.54475   40.6068    38.752037  50.62883   60.008476
 56.59443   49.480633  59.51773   55.285114  61.84307   54.8359
  6.0872316 42.05685   52.987446  48.61327   41.178425  52.736877
 62.037395  60.2306    52.940456  66.173546  57.96905    9.7304
 65.164116  41.969337  38.965668  56.16775   56.458595  51.346004
 60.33405   61.04209   41.051495  56.213146  48.939922  51.16155
 61.89247   53.339733  57.061493  58.578953  50.369373  38.866096
 60.493057  57.2261    60.051617  49.079056  24.859758  50.747684
 60.768723  60.383953  55.980904  44.647305  57.88189   65.53172
 56.87166   42.70653   54.659973  48.68423   54.46647   59.32091
 54.54193   58.094448  61.637913  56.426197  51.475693  60.374313
 48.708492  58.01612  ]

In [32]:
df2.insert(0, "Prediction", y_pred, True)

In [33]:
# for ind in df2.index:
#     if df2['Prediction'][ind] == 0:
#         df2['Prediction'][ind] = 'CHAMP'
#     if df2['Prediction'][ind] == 1:
#         df2['Prediction'][ind] = 'QTR'
#     if df2['Prediction'][ind] == 2:
#         df2['Prediction'][ind] = 'SEMI'
#     if df2['Prediction'][ind] == 3:
#         df2['Prediction'][ind] = 'QTR'
#     if df2['Prediction'][ind] == 4:
#         df2['Prediction'][ind] = 'R16'
#     if df2['Prediction'][ind] == 5:
#         df2['Prediction'][ind] = 'R32'
#     if df2['Prediction'][ind] == 6:
#         df2['Prediction'][ind] = 'R64'
#     if df2['Prediction'][ind] == 7:
#         df2['Prediction'][ind] = 'FIRST4'
        
# df2.head()

In [34]:
df2.to_csv('march madness classification pred.csv', encoding='utf-8', index=False)